obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
obj/Debug/WinFormFileUpload.csproj.FileListAbsolute.txt
obj/Debug/WinFormFileUpload.csproj.GenerateResource.Cache
obj/Debug/WinFormFileUpload.csprojResolveAssemblyReference.cache
obj/Debug/WinFormFileUpload.exe
obj/Debug/WinFormFileUpload.Properties.Resources.resources
obj/Debug/WinFormFileUpload.pdb
obj/Debug/WinFormFileUpload.Form1.resources
WinFormFileUpload.csproj
WinFormFileUpload.csproj.user
bin/Debug/WinFormFileUpload.vshost.exe
bin/Debug/WinFormFileUpload.vshost.exe.config
bin/Debug/WinFormFileUpload.vshost.exe.manifest